.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container h3{

  font-size: 1.5em;

}

.container p{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    font-size: 1.2em;
    width: 80%;
}

.subContainer img{
    width: 30%;
    height: 40%;
    border-radius: 2%;
}

.subContainer {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.thirdContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
 width: 100%;
 align-items: center;
    justify-content: center;

}
.thirdContainer h3, p{
 
    font-size: 1em;
    
}